@charset "utf-f";
/*CSS Document*/


body {
    font-family: 'Ubuntu', sans-serif;
    padding: 30px;
    background-color: #3C3C3C;
}

.wrapper {
    background: #ebebeb;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    margin-top: 0;
}

 .eventBox {
    width: 175px;
    height: 22px;
    float: left;
    padding: 2px;
    margin: 3px auto;
    position: relative;
  }

 .eventBox .content {
    background: #FFF;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #B7B7B7;
    margin: 3px auto;
    padding: 2px;
    width: 175px;
    height: 22px;
    overflow: hidden;
    position: absolute;
}

.statusBox {
    width: 30px;
    height: 15px;
    position: relative;
    float :left;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #E2E2E2;
}

.idBox {
    width: 45px;
    height: 15px;
    position: relative;
    float :left;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #E2E2E2;
}


/*-----------Tabs-----------*/

.tabs {
	width:100%;
	display:inline-block;
}

	/*---------Tab Links------------*/

	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}

	.tab-links li {
		margin:0px 5px;
		float:left;
		list-style:none;
	}

	.tab-links a {
		padding:9px 15px;
		display:inline-block;
		border-radius:3px 3px 0px 0px;
		background:#7FB5DA;
		font-size:16px;
		font-weight:600px;
		color:#4c4c4c;
		transition:all linear 0.15s;
	}

	.tab-links a:hover {
		background:#a7cce5;
		text-decoration:none;
	}

	li.active a, li.active a:hover {
		background:#fff;
		color:#4c4c4c;
	}

	/*-----------Contents of Tabs -----------------*/

	.tab-content {
		padding:15px;
		border-radius:3px;
		box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
		background:#fff;
	}
		
		.tab {
			display:none;
		}

		.tab.active {
			display:block;

		}
.clear {
    clear: both;
}

.clearfix {
    overflow: auto;
}

