@charset "utf-f";
/*CSS Document*/


body {
    font-family: 'Ubuntu', sans-serif;
    padding: 30px;
    background-color: #ededed;
}
	

.wrapper {
    /*background: #000033; trasparent 
    padding: 10px;*/
}

/*-----------Tabs-----------*/

.tabs {
	width:100%;
	display:inline-block;
}

	/*---------Tab Links------------*/

	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}

	.tab-links li {
		margin:0px 5px;
		float:left;
		list-style:none;
	}

	.tab-links a {
		background:#d4d4d4;
        border: 1px solid #ccc;
		border-radius:3px 3px 0px 0px;
        border-bottom:0;
		color:#999;
		display:inline-block;
		font-size:16px;
		font-weight:600px;
		padding:9px 15px;
		transition:all linear 0.15s;
	}

    /*
	.tab-links a:hover {
		background:#a7cce5;
		text-decoration:none;
	}
    */

	li.active a {
		background:#FFF;
		color:#373737;
        border: 1px solid #ccc;
		border-radius:3px 3px 0px 0px;
        border-bottom:0;
        position:relative;
        top:2px;
	}

	/*-----------Contents of Tabs -----------------*/

	.tab-content {
		background:#FFF;
        border: 1px solid #ccc;
		border-radius:3px 3px 0px 0px;
		color:#373737;
		padding:15px;
	}
		
	.tab {
		display:none;
	}

	.tab.active {
		display:block;

	}

h1 {
    margin-top: 0;
}

 .eventBox {
    width: 175px;
    height: 22px;
    float: left;
    padding: 2px;
    margin: 3px auto;
    position: relative;
  }

 .eventBox .content {
    background: #ededed;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 3px auto;
    padding: 2px;
    width: 175px;
    height: 22px;
    overflow: hidden;
    position: absolute;
}

.idBox {
    background:#FFF;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    height: 15px;
    float :left;
    position: relative;
    margin-bottom: 15px;
    width: 45px;
}

.statusBox {
    background:#FFF;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    float :left;
    height: 15px;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    width: 30px;
}

.statusBox .A1-alarm {
    background:#e33412;
}




.clear {
    clear: both;
}

.clearfix {
    overflow: auto;
}

