@charset "utf-f";
/*CSS Document*/


body {
    font-family: 'Ubuntu', sans-serif;
    padding: 30px;
    background-color: 171814;
    color:49473a;
}
	

.wrapper {
    /*background: #000033; trasparent 
    padding: 10px;*/
}

/*-----------Tabs-----------*/


.tabs {
	width:100%;
	display:inline-block;
}

	/*---------Tab Links------------*/

	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}

	.tab-links li {
		margin:0px 5px;
		float:left;
		list-style:none;
	}

	.tab-links a {
		background:#3d3d3d;
        border: 1px solid #50504e;
		border-radius:3px 3px 0px 0px;
        border-bottom:0;
		color:#787d76;
		display:inline-block;
		font-size:16px;
		font-weight:600px;
		padding:9px 15px;
		transition:all linear 0.15s;
	}

    /*
	.tab-links a:hover {
		background:#a7cce5;
		text-decoration:none;
	}
    */

	li.active a {
		background:#272822;
		color:#6f6a57;
        border: 1px solid #33342e;
		border-radius:3px 3px 0px 0px;
        border-bottom:0;
        position:relative;
        top:2px;
	}

	/*-----------Contents of Tabs -----------------*/

	.tab-content {
		background:#272822;
        border: 1px solid #33342e;
		border-radius:3px 3px 0px 0px;
		color:#49473a;
		padding:15px;
	}
		
	.tab {
		display:none;
	}

	.tab.active {
		display:block;

	}

	.accordian {
		overflow:hidden;
	}

h1 {
    margin-top: 0;
}

 .eventBox {
    width: 175px;
    height: 22px;
    float: left;
    padding: 2px;
    margin: 3px auto;
    position: relative;
  }

 .eventBox .content {
    background: #171814;
    border: 1px solid #49473a;
    border-radius: 5px;
    margin: 3px auto;
    padding: 2px;
    width: 175px;
    height: 22px;
    overflow: hidden;
    position: absolute;
}

.idBox {
    background:#FFF;
    border: 1px solid #33342e;
    color: #6f6a57;
    border-radius: 5px;
    height: 17px;
    float :left;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    width: 45px;
    vertical-align:middle;
}

.statusBox {
    background:#FFF;
    border: 1px solid #33342e;
    border-radius: 5px;
    color: #6f6a57;
    float :left;
    height: 17px;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    width: 30px;
    vertical-align:middle;
}

.statusBox .A1-alarm {
    background:#9abff5;
}




.clear {
    clear: both;
}

.clearfix {
    overflow:hidden;
}

